--
-- PostgreSQL database dump
--

\restrict qX0QP1U6cylBZt2UnGfzdPOg7RJbiN6YLGtQsLuJdgoKwxsHEXZvv64DgIocQr4

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: omaum_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO omaum_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: omaum_user
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alunos_aluno; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.alunos_aluno (
    id bigint NOT NULL,
    cpf character varying(14) NOT NULL,
    nome character varying(100) NOT NULL,
    data_nascimento date NOT NULL,
    hora_nascimento time without time zone,
    email character varying(254) NOT NULL,
    foto character varying(100),
    sexo character varying(1) NOT NULL,
    situacao character varying(1) NOT NULL,
    numero_iniciatico character varying(20) NOT NULL,
    nome_iniciatico character varying(100),
    rua character varying(150),
    numero_imovel character varying(10),
    complemento character varying(50),
    cep character varying(10),
    nome_primeiro_contato character varying(100),
    celular_primeiro_contato character varying(15),
    tipo_relacionamento_primeiro_contato character varying(50),
    nome_segundo_contato character varying(100),
    celular_segundo_contato character varying(15),
    tipo_relacionamento_segundo_contato character varying(50),
    estado_civil character varying(20),
    profissao character varying(100),
    ativo boolean NOT NULL,
    tipo_sanguineo character varying(4),
    alergias text,
    condicoes_medicas_gerais text,
    convenio_medico character varying(100),
    hospital character varying(100),
    grau_atual character varying(50),
    situacao_iniciatica character varying(20) NOT NULL,
    historico_iniciatico jsonb NOT NULL,
    historico_checksum character varying(64),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    bairro_ref_id bigint,
    cidade_naturalidade_id bigint,
    cidade_ref_id bigint,
    pais_nacionalidade_id bigint
);


ALTER TABLE public.alunos_aluno OWNER TO omaum_user;

--
-- Name: alunos_aluno_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.alunos_aluno ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alunos_aluno_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alunos_bairro; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.alunos_bairro (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    codigo_externo character varying(30),
    cidade_id bigint NOT NULL
);


ALTER TABLE public.alunos_bairro OWNER TO omaum_user;

--
-- Name: alunos_bairro_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.alunos_bairro ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alunos_bairro_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alunos_cidade; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.alunos_cidade (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    codigo_ibge character varying(7),
    estado_id bigint NOT NULL
);


ALTER TABLE public.alunos_cidade OWNER TO omaum_user;

--
-- Name: alunos_cidade_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.alunos_cidade ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alunos_cidade_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alunos_codigo; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.alunos_codigo (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text,
    tipo_codigo_id bigint NOT NULL,
    ativo boolean NOT NULL
);


ALTER TABLE public.alunos_codigo OWNER TO omaum_user;

--
-- Name: alunos_codigo_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.alunos_codigo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alunos_codigo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alunos_estado; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.alunos_estado (
    id bigint NOT NULL,
    codigo character varying(2) NOT NULL,
    nome character varying(100) NOT NULL,
    regiao character varying(20) NOT NULL
);


ALTER TABLE public.alunos_estado OWNER TO omaum_user;

--
-- Name: alunos_estado_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.alunos_estado ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alunos_estado_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alunos_pais; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.alunos_pais (
    id bigint NOT NULL,
    codigo character varying(3) NOT NULL,
    nome character varying(100) NOT NULL,
    nacionalidade character varying(100) NOT NULL,
    ativo boolean NOT NULL
);


ALTER TABLE public.alunos_pais OWNER TO omaum_user;

--
-- Name: alunos_pais_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.alunos_pais ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alunos_pais_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alunos_registrohistorico; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.alunos_registrohistorico (
    id bigint NOT NULL,
    ordem_servico character varying(50),
    data_os date NOT NULL,
    observacoes text,
    created_at timestamp with time zone NOT NULL,
    ativo boolean NOT NULL,
    aluno_id bigint NOT NULL,
    codigo_id bigint NOT NULL
);


ALTER TABLE public.alunos_registrohistorico OWNER TO omaum_user;

--
-- Name: alunos_registrohistorico_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.alunos_registrohistorico ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alunos_registrohistorico_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: alunos_tipocodigo; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.alunos_tipocodigo (
    id bigint NOT NULL,
    nome character varying(50) NOT NULL,
    descricao text,
    ativo boolean NOT NULL
);


ALTER TABLE public.alunos_tipocodigo OWNER TO omaum_user;

--
-- Name: alunos_tipocodigo_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.alunos_tipocodigo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.alunos_tipocodigo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: atividades_atividade; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.atividades_atividade (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text,
    tipo_atividade character varying(20) NOT NULL,
    data_inicio date NOT NULL,
    data_fim date,
    hora_inicio time without time zone NOT NULL,
    hora_fim time without time zone,
    local character varying(100),
    responsavel character varying(100),
    status character varying(20) NOT NULL,
    ativo boolean NOT NULL,
    convocacao boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    curso_id bigint
);


ALTER TABLE public.atividades_atividade OWNER TO omaum_user;

--
-- Name: atividades_atividade_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.atividades_atividade ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.atividades_atividade_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: atividades_atividade_turmas; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.atividades_atividade_turmas (
    id bigint NOT NULL,
    atividade_id bigint NOT NULL,
    turma_id bigint NOT NULL
);


ALTER TABLE public.atividades_atividade_turmas OWNER TO omaum_user;

--
-- Name: atividades_atividade_turmas_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.atividades_atividade_turmas ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.atividades_atividade_turmas_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: atividades_presenca; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.atividades_presenca (
    id bigint NOT NULL,
    data date NOT NULL,
    presente boolean NOT NULL,
    registrado_por character varying(100) NOT NULL,
    data_registro timestamp with time zone NOT NULL,
    aluno_id bigint NOT NULL,
    atividade_id bigint NOT NULL,
    turma_id bigint NOT NULL
);


ALTER TABLE public.atividades_presenca OWNER TO omaum_user;

--
-- Name: atividades_presenca_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.atividades_presenca ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.atividades_presenca_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO omaum_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO omaum_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO omaum_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO omaum_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO omaum_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO omaum_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_configuracaosistema; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.core_configuracaosistema (
    id bigint NOT NULL,
    nome_sistema character varying(100) NOT NULL,
    versao character varying(20) NOT NULL,
    data_atualizacao timestamp with time zone NOT NULL,
    manutencao_ativa boolean NOT NULL,
    mensagem_manutencao text
);


ALTER TABLE public.core_configuracaosistema OWNER TO omaum_user;

--
-- Name: core_configuracaosistema_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.core_configuracaosistema ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_configuracaosistema_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: core_logatividade; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.core_logatividade (
    id bigint NOT NULL,
    usuario character varying(100) NOT NULL,
    acao character varying(255) NOT NULL,
    tipo character varying(10) NOT NULL,
    data timestamp with time zone NOT NULL,
    detalhes text
);


ALTER TABLE public.core_logatividade OWNER TO omaum_user;

--
-- Name: core_logatividade_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.core_logatividade ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.core_logatividade_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cursos_curso; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.cursos_curso (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text NOT NULL,
    ativo boolean NOT NULL
);


ALTER TABLE public.cursos_curso OWNER TO omaum_user;

--
-- Name: cursos_curso_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.cursos_curso ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cursos_curso_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO omaum_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO omaum_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO omaum_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO omaum_user;

--
-- Name: frequencias_carencia; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.frequencias_carencia (
    id bigint NOT NULL,
    total_presencas integer NOT NULL,
    total_atividades integer NOT NULL,
    percentual_presenca numeric(5,2) NOT NULL,
    numero_carencias integer NOT NULL,
    liberado boolean NOT NULL,
    status character varying(20),
    observacoes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    aluno_id bigint NOT NULL,
    frequencia_mensal_id bigint NOT NULL
);


ALTER TABLE public.frequencias_carencia OWNER TO omaum_user;

--
-- Name: frequencias_carencia_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.frequencias_carencia ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.frequencias_carencia_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: frequencias_frequenciamensal; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.frequencias_frequenciamensal (
    id bigint NOT NULL,
    mes integer NOT NULL,
    ano integer NOT NULL,
    percentual_minimo integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    turma_id bigint NOT NULL
);


ALTER TABLE public.frequencias_frequenciamensal OWNER TO omaum_user;

--
-- Name: frequencias_frequenciamensal_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.frequencias_frequenciamensal ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.frequencias_frequenciamensal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: matriculas_matricula; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.matriculas_matricula (
    id bigint NOT NULL,
    data_matricula date NOT NULL,
    ativa boolean NOT NULL,
    status character varying(1) NOT NULL,
    aluno_id bigint NOT NULL,
    turma_id bigint NOT NULL
);


ALTER TABLE public.matriculas_matricula OWNER TO omaum_user;

--
-- Name: matriculas_matricula_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.matriculas_matricula ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.matriculas_matricula_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notas_nota; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.notas_nota (
    id bigint NOT NULL,
    tipo_avaliacao character varying(20) NOT NULL,
    valor numeric(5,2) NOT NULL,
    peso numeric(3,1) NOT NULL,
    data date NOT NULL,
    observacao text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    aluno_id bigint NOT NULL,
    curso_id bigint NOT NULL,
    turma_id bigint NOT NULL
);


ALTER TABLE public.notas_nota OWNER TO omaum_user;

--
-- Name: notas_nota_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.notas_nota ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notas_nota_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: pagamentos_pagamento; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.pagamentos_pagamento (
    id bigint NOT NULL,
    valor numeric(10,2) NOT NULL,
    data_vencimento date NOT NULL,
    status character varying(10) NOT NULL,
    data_pagamento date,
    valor_pago numeric(10,2),
    metodo_pagamento character varying(20),
    observacoes text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    aluno_id bigint NOT NULL
);


ALTER TABLE public.pagamentos_pagamento OWNER TO omaum_user;

--
-- Name: pagamentos_pagamento_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.pagamentos_pagamento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.pagamentos_pagamento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: presencas_registropresenca; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.presencas_registropresenca (
    id bigint NOT NULL,
    data date NOT NULL,
    status character varying(2) NOT NULL,
    justificativa text,
    convocado boolean NOT NULL,
    registrado_por character varying(100) NOT NULL,
    data_registro timestamp with time zone NOT NULL,
    aluno_id bigint NOT NULL,
    atividade_id bigint NOT NULL,
    turma_id bigint NOT NULL
);


ALTER TABLE public.presencas_registropresenca OWNER TO omaum_user;

--
-- Name: presencas_registropresenca_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.presencas_registropresenca ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.presencas_registropresenca_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: turmas_turma; Type: TABLE; Schema: public; Owner: omaum_user
--

CREATE TABLE public.turmas_turma (
    id bigint NOT NULL,
    nome character varying(100) NOT NULL,
    descricao text,
    num_livro integer,
    data_iniciacao date,
    data_inicio_ativ date,
    data_prim_aula date,
    data_termino_atividades date,
    dias_semana character varying(100),
    horario character varying(100),
    local character varying(200),
    vagas integer NOT NULL,
    status character varying(1) NOT NULL,
    ativo boolean NOT NULL,
    alerta_instrutor boolean NOT NULL,
    alerta_mensagem text,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    auxiliar_instrucao_id bigint,
    curso_id bigint NOT NULL,
    instrutor_id bigint,
    instrutor_auxiliar_id bigint,
    perc_presenca_minima numeric(5,2),
    CONSTRAINT turmas_turma_num_livro_check CHECK ((num_livro >= 0)),
    CONSTRAINT turmas_turma_vagas_check CHECK ((vagas >= 0))
);


ALTER TABLE public.turmas_turma OWNER TO omaum_user;

--
-- Name: turmas_turma_id_seq; Type: SEQUENCE; Schema: public; Owner: omaum_user
--

ALTER TABLE public.turmas_turma ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.turmas_turma_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: alunos_aluno; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: alunos_bairro; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.alunos_bairro (id, nome, codigo_externo, cidade_id) FROM stdin;
\.


--
-- Data for Name: alunos_cidade; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: alunos_codigo; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: alunos_estado; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.alunos_estado (id, codigo, nome, regiao) FROM stdin;
1	RO	RO	Norte
2	AC	AC	Norte
3	AM	AM	Norte
4	RR	RR	Norte
5	PA	PA	Norte
6	AP	AP	Norte
7	TO	TO	Norte
8	MA	MA	Nordeste
9	PI	PI	Nordeste
10	CE	CE	Nordeste
11	RN	RN	Nordeste
12	PB	PB	Nordeste
13	PE	PE	Nordeste
14	AL	AL	Nordeste
15	SE	SE	Nordeste
16	BA	BA	Nordeste
17	MG	MG	Sudeste
18	ES	ES	Sudeste
19	RJ	RJ	Sudeste
20	SP	SP	Sudeste
21	PR	PR	Sul
22	SC	SC	Sul
23	RS	RS	Sul
24	MS	MS	Centro-Oeste
25	MT	MT	Centro-Oeste
26	GO	GO	Centro-Oeste
27	DF	DF	Centro-Oeste
\.


--
-- Data for Name: alunos_pais; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.alunos_pais (id, codigo, nome, nacionalidade, ativo) FROM stdin;
1	BRA	Brasil	Brasileiro(a)	t
2	USA	Estados Unidos	Americano(a)	t
3	PRT	Portugal	Portugu├¬s(a)	t
\.


--
-- Data for Name: alunos_registrohistorico; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: alunos_tipocodigo; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.alunos_tipocodigo (id, nome, descricao, ativo) FROM stdin;
1	Administrativos	C├│digos Administrativos	t
8	Demo Legado	Tipo criado para demonstrar migra├º├úo JSON.	f
5	Instrutoria	Cargos de Instrutoria e assemelhados	t
6	Puni├º├Áes	C├│digos de Puni├º├Áes	t
3	Ritos Maiores	Fun├º├Áes nos ritos de 1┬¬ inicia├º├úo a 5a.  Inicia├º├Áes	t
4	Ritos Menores	Fun├º├Áes nos diversos outros ritos	t
7	Tipo Teste	\N	f
2	Trabalho Curador	C├│digo do Trabalho Curador	t
\.


--
-- Data for Name: atividades_atividade; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: atividades_atividade_turmas; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: atividades_presenca; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.atividades_presenca (id, data, presente, registrado_por, data_registro, aluno_id, atividade_id, turma_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: core_configuracaosistema; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.core_configuracaosistema (id, nome_sistema, versao, data_atualizacao, manutencao_ativa, mensagem_manutencao) FROM stdin;
\.


--
-- Data for Name: core_logatividade; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.core_logatividade (id, usuario, acao, tipo, data, detalhes) FROM stdin;
1	An├┤nimo	Tentativa de login inv├ílida	AVISO	2025-12-06 01:09:25.873753+00	\N
2	An├┤nimo	Tentativa de login inv├ílida	AVISO	2025-12-06 01:09:29.789044+00	\N
3	desenv	Login realizado com sucesso	INFO	2025-12-06 01:13:01.442641+00	\N
\.


--
-- Data for Name: cursos_curso; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.cursos_curso (id, nome, descricao, ativo) FROM stdin;
1	Pr├®-Inici├ítico	Pr├®-Inici├ítico	t
2	1┬║ Grau	1┬║ Grau	t
3	2┬║ Grau	2┬║ Grau	t
4	3┬║ Grau	3┬║ Grau	t
5	4┬║ Grau	4┬║ Grau	t
6	5┬║ Grau	5┬║ Grau	t
7	Coleginho	Coleginho	t
8	Col├®gio Sacerdotal	Col├®gio Sacerdotal	t
9	Curso Sem Turma		t
10	Curso Basico	Introducao ao caminho	t
11	Curso Avancado	Modulo aprofundado	t
12	Curso Descontinuado	Material legado	f
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
rp3l507mhmaa5fxeivimxpnfn1mvx8sm	.eJxVjEEOwiAQRe_C2hAGKAWX7j1DMzCDVA0kpV0Z765NutDtf-_9l5hwW8u0dV6mmcRZOHH63SKmB9cd0B3rrcnU6rrMUe6KPGiX10b8vBzu30HBXr61MtY7BtAJXLQjZB6cIT0o9nlkyDQobW0AkzGH6AOTApUATaIIGp14fwDHGTeQ:1vRgr7:6QuC6W8XCaTWuw4qa_OEhaZRJStDkDYJfPH1WDMQ9jw	2025-12-20 01:13:01.445637+00
\.


--
-- Data for Name: frequencias_carencia; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.frequencias_carencia (id, total_presencas, total_atividades, percentual_presenca, numero_carencias, liberado, status, observacoes, created_at, updated_at, aluno_id, frequencia_mensal_id) FROM stdin;
\.


--
-- Data for Name: frequencias_frequenciamensal; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.frequencias_frequenciamensal (id, mes, ano, percentual_minimo, created_at, updated_at, turma_id) FROM stdin;
\.


--
-- Data for Name: matriculas_matricula; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: notas_nota; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: pagamentos_pagamento; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Data for Name: presencas_registropresenca; Type: TABLE DATA; Schema: public; Owner: omaum_user
--

COPY public.presencas_registropresenca (id, data, status, justificativa, convocado, registrado_por, data_registro, aluno_id, atividade_id, turma_id) FROM stdin;
\.


--
-- Data for Name: turmas_turma; Type: TABLE DATA; Schema: public; Owner: omaum_user
--



--
-- Name: alunos_aluno_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.alunos_aluno_id_seq', 55, true);


--
-- Name: alunos_bairro_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.alunos_bairro_id_seq', 1, false);


--
-- Name: alunos_cidade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.alunos_cidade_id_seq', 5571, true);


--
-- Name: alunos_codigo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.alunos_codigo_id_seq', 408, true);


--
-- Name: alunos_estado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.alunos_estado_id_seq', 27, true);


--
-- Name: alunos_pais_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.alunos_pais_id_seq', 3, true);


--
-- Name: alunos_registrohistorico_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.alunos_registrohistorico_id_seq', 108, true);


--
-- Name: alunos_tipocodigo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.alunos_tipocodigo_id_seq', 8, true);


--
-- Name: atividades_atividade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.atividades_atividade_id_seq', 40, true);


--
-- Name: atividades_atividade_turmas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.atividades_atividade_turmas_id_seq', 113, true);


--
-- Name: atividades_presenca_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.atividades_presenca_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 112, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 6, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: core_configuracaosistema_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.core_configuracaosistema_id_seq', 1, false);


--
-- Name: core_logatividade_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.core_logatividade_id_seq', 3, true);


--
-- Name: cursos_curso_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.cursos_curso_id_seq', 12, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 28, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 43, true);


--
-- Name: frequencias_carencia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.frequencias_carencia_id_seq', 1, false);


--
-- Name: frequencias_frequenciamensal_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.frequencias_frequenciamensal_id_seq', 1, false);


--
-- Name: matriculas_matricula_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.matriculas_matricula_id_seq', 68, true);


--
-- Name: notas_nota_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.notas_nota_id_seq', 130, true);


--
-- Name: pagamentos_pagamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.pagamentos_pagamento_id_seq', 72, true);


--
-- Name: presencas_registropresenca_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.presencas_registropresenca_id_seq', 1, false);


--
-- Name: turmas_turma_id_seq; Type: SEQUENCE SET; Schema: public; Owner: omaum_user
--

SELECT pg_catalog.setval('public.turmas_turma_id_seq', 31, true);


--
-- Name: alunos_aluno alunos_aluno_cpf_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_aluno
    ADD CONSTRAINT alunos_aluno_cpf_key UNIQUE (cpf);


--
-- Name: alunos_aluno alunos_aluno_email_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_aluno
    ADD CONSTRAINT alunos_aluno_email_key UNIQUE (email);


--
-- Name: alunos_aluno alunos_aluno_numero_iniciatico_cf15b77f_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_aluno
    ADD CONSTRAINT alunos_aluno_numero_iniciatico_cf15b77f_uniq UNIQUE (numero_iniciatico);


--
-- Name: alunos_aluno alunos_aluno_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_aluno
    ADD CONSTRAINT alunos_aluno_pkey PRIMARY KEY (id);


--
-- Name: alunos_bairro alunos_bairro_nome_cidade_id_eac94234_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_bairro
    ADD CONSTRAINT alunos_bairro_nome_cidade_id_eac94234_uniq UNIQUE (nome, cidade_id);


--
-- Name: alunos_bairro alunos_bairro_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_bairro
    ADD CONSTRAINT alunos_bairro_pkey PRIMARY KEY (id);


--
-- Name: alunos_cidade alunos_cidade_codigo_ibge_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_cidade
    ADD CONSTRAINT alunos_cidade_codigo_ibge_key UNIQUE (codigo_ibge);


--
-- Name: alunos_cidade alunos_cidade_nome_estado_id_e1623fb1_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_cidade
    ADD CONSTRAINT alunos_cidade_nome_estado_id_e1623fb1_uniq UNIQUE (nome, estado_id);


--
-- Name: alunos_cidade alunos_cidade_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_cidade
    ADD CONSTRAINT alunos_cidade_pkey PRIMARY KEY (id);


--
-- Name: alunos_codigo alunos_codigo_nome_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_codigo
    ADD CONSTRAINT alunos_codigo_nome_key UNIQUE (nome);


--
-- Name: alunos_codigo alunos_codigo_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_codigo
    ADD CONSTRAINT alunos_codigo_pkey PRIMARY KEY (id);


--
-- Name: alunos_estado alunos_estado_codigo_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_estado
    ADD CONSTRAINT alunos_estado_codigo_key UNIQUE (codigo);


--
-- Name: alunos_estado alunos_estado_nome_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_estado
    ADD CONSTRAINT alunos_estado_nome_key UNIQUE (nome);


--
-- Name: alunos_estado alunos_estado_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_estado
    ADD CONSTRAINT alunos_estado_pkey PRIMARY KEY (id);


--
-- Name: alunos_pais alunos_pais_codigo_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_pais
    ADD CONSTRAINT alunos_pais_codigo_key UNIQUE (codigo);


--
-- Name: alunos_pais alunos_pais_nome_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_pais
    ADD CONSTRAINT alunos_pais_nome_key UNIQUE (nome);


--
-- Name: alunos_pais alunos_pais_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_pais
    ADD CONSTRAINT alunos_pais_pkey PRIMARY KEY (id);


--
-- Name: alunos_registrohistorico alunos_registrohistorico_aluno_id_codigo_id_ordem_cb168fad_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_registrohistorico
    ADD CONSTRAINT alunos_registrohistorico_aluno_id_codigo_id_ordem_cb168fad_uniq UNIQUE (aluno_id, codigo_id, ordem_servico);


--
-- Name: alunos_registrohistorico alunos_registrohistorico_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_registrohistorico
    ADD CONSTRAINT alunos_registrohistorico_pkey PRIMARY KEY (id);


--
-- Name: alunos_tipocodigo alunos_tipocodigo_nome_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_tipocodigo
    ADD CONSTRAINT alunos_tipocodigo_nome_key UNIQUE (nome);


--
-- Name: alunos_tipocodigo alunos_tipocodigo_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_tipocodigo
    ADD CONSTRAINT alunos_tipocodigo_pkey PRIMARY KEY (id);


--
-- Name: atividades_atividade atividades_atividade_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_atividade
    ADD CONSTRAINT atividades_atividade_pkey PRIMARY KEY (id);


--
-- Name: atividades_atividade_turmas atividades_atividade_turmas_atividade_id_turma_id_a2fbddfc_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_atividade_turmas
    ADD CONSTRAINT atividades_atividade_turmas_atividade_id_turma_id_a2fbddfc_uniq UNIQUE (atividade_id, turma_id);


--
-- Name: atividades_atividade_turmas atividades_atividade_turmas_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_atividade_turmas
    ADD CONSTRAINT atividades_atividade_turmas_pkey PRIMARY KEY (id);


--
-- Name: atividades_presenca atividades_presenca_aluno_id_turma_id_ativid_cef75035_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_presenca
    ADD CONSTRAINT atividades_presenca_aluno_id_turma_id_ativid_cef75035_uniq UNIQUE (aluno_id, turma_id, atividade_id, data);


--
-- Name: atividades_presenca atividades_presenca_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_presenca
    ADD CONSTRAINT atividades_presenca_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: core_configuracaosistema core_configuracaosistema_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.core_configuracaosistema
    ADD CONSTRAINT core_configuracaosistema_pkey PRIMARY KEY (id);


--
-- Name: core_logatividade core_logatividade_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.core_logatividade
    ADD CONSTRAINT core_logatividade_pkey PRIMARY KEY (id);


--
-- Name: cursos_curso cursos_curso_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.cursos_curso
    ADD CONSTRAINT cursos_curso_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: frequencias_carencia frequencias_carencia_frequencia_mensal_id_alu_8a325950_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.frequencias_carencia
    ADD CONSTRAINT frequencias_carencia_frequencia_mensal_id_alu_8a325950_uniq UNIQUE (frequencia_mensal_id, aluno_id);


--
-- Name: frequencias_carencia frequencias_carencia_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.frequencias_carencia
    ADD CONSTRAINT frequencias_carencia_pkey PRIMARY KEY (id);


--
-- Name: frequencias_frequenciamensal frequencias_frequenciamensal_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.frequencias_frequenciamensal
    ADD CONSTRAINT frequencias_frequenciamensal_pkey PRIMARY KEY (id);


--
-- Name: frequencias_frequenciamensal frequencias_frequenciamensal_turma_id_mes_ano_fae378b8_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.frequencias_frequenciamensal
    ADD CONSTRAINT frequencias_frequenciamensal_turma_id_mes_ano_fae378b8_uniq UNIQUE (turma_id, mes, ano);


--
-- Name: matriculas_matricula matriculas_matricula_aluno_id_turma_id_1e6bdecb_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.matriculas_matricula
    ADD CONSTRAINT matriculas_matricula_aluno_id_turma_id_1e6bdecb_uniq UNIQUE (aluno_id, turma_id);


--
-- Name: matriculas_matricula matriculas_matricula_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.matriculas_matricula
    ADD CONSTRAINT matriculas_matricula_pkey PRIMARY KEY (id);


--
-- Name: notas_nota notas_nota_aluno_id_curso_id_turma__12565f2f_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.notas_nota
    ADD CONSTRAINT notas_nota_aluno_id_curso_id_turma__12565f2f_uniq UNIQUE (aluno_id, curso_id, turma_id, tipo_avaliacao, data);


--
-- Name: notas_nota notas_nota_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.notas_nota
    ADD CONSTRAINT notas_nota_pkey PRIMARY KEY (id);


--
-- Name: pagamentos_pagamento pagamentos_pagamento_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.pagamentos_pagamento
    ADD CONSTRAINT pagamentos_pagamento_pkey PRIMARY KEY (id);


--
-- Name: presencas_registropresenca presencas_registropresen_aluno_id_turma_id_ativid_95eba95d_uniq; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.presencas_registropresenca
    ADD CONSTRAINT presencas_registropresen_aluno_id_turma_id_ativid_95eba95d_uniq UNIQUE (aluno_id, turma_id, atividade_id, data);


--
-- Name: presencas_registropresenca presencas_registropresenca_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.presencas_registropresenca
    ADD CONSTRAINT presencas_registropresenca_pkey PRIMARY KEY (id);


--
-- Name: turmas_turma turmas_turma_pkey; Type: CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.turmas_turma
    ADD CONSTRAINT turmas_turma_pkey PRIMARY KEY (id);


--
-- Name: aluno_bairro_ref_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX aluno_bairro_ref_idx ON public.alunos_aluno USING btree (bairro_ref_id);


--
-- Name: aluno_cidade_ref_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX aluno_cidade_ref_idx ON public.alunos_aluno USING btree (cidade_ref_id);


--
-- Name: alunos_alun_ativo_26ee3e_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_alun_ativo_26ee3e_idx ON public.alunos_aluno USING btree (ativo);


--
-- Name: alunos_alun_cidade__0313e8_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_alun_cidade__0313e8_idx ON public.alunos_aluno USING btree (cidade_naturalidade_id);


--
-- Name: alunos_alun_email_9690b2_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_alun_email_9690b2_idx ON public.alunos_aluno USING btree (email);


--
-- Name: alunos_alun_nome_6c76a2_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_alun_nome_6c76a2_idx ON public.alunos_aluno USING btree (nome);


--
-- Name: alunos_alun_numero__412a09_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_alun_numero__412a09_idx ON public.alunos_aluno USING btree (numero_iniciatico);


--
-- Name: alunos_alun_pais_na_408f04_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_alun_pais_na_408f04_idx ON public.alunos_aluno USING btree (pais_nacionalidade_id);


--
-- Name: alunos_alun_situaca_d6babc_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_alun_situaca_d6babc_idx ON public.alunos_aluno USING btree (situacao);


--
-- Name: alunos_aluno_bairro_ref_id_9eb4b945; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_aluno_bairro_ref_id_9eb4b945 ON public.alunos_aluno USING btree (bairro_ref_id);


--
-- Name: alunos_aluno_cidade_naturalidade_id_a3864e62; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_aluno_cidade_naturalidade_id_a3864e62 ON public.alunos_aluno USING btree (cidade_naturalidade_id);


--
-- Name: alunos_aluno_cidade_ref_id_6780cde7; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_aluno_cidade_ref_id_6780cde7 ON public.alunos_aluno USING btree (cidade_ref_id);


--
-- Name: alunos_aluno_cpf_7abe4654_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_aluno_cpf_7abe4654_like ON public.alunos_aluno USING btree (cpf varchar_pattern_ops);


--
-- Name: alunos_aluno_email_3a8ef390_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_aluno_email_3a8ef390_like ON public.alunos_aluno USING btree (email varchar_pattern_ops);


--
-- Name: alunos_aluno_numero_iniciatico_cf15b77f_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_aluno_numero_iniciatico_cf15b77f_like ON public.alunos_aluno USING btree (numero_iniciatico varchar_pattern_ops);


--
-- Name: alunos_aluno_pais_nacionalidade_id_b0f82e53; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_aluno_pais_nacionalidade_id_b0f82e53 ON public.alunos_aluno USING btree (pais_nacionalidade_id);


--
-- Name: alunos_bair_cidade__57f68d_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_bair_cidade__57f68d_idx ON public.alunos_bairro USING btree (cidade_id);


--
-- Name: alunos_bair_nome_3317e8_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_bair_nome_3317e8_idx ON public.alunos_bairro USING btree (nome);


--
-- Name: alunos_bairro_cidade_id_dc6740d9; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_bairro_cidade_id_dc6740d9 ON public.alunos_bairro USING btree (cidade_id);


--
-- Name: alunos_cida_codigo__39b0aa_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_cida_codigo__39b0aa_idx ON public.alunos_cidade USING btree (codigo_ibge);


--
-- Name: alunos_cida_estado__88a3c4_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_cida_estado__88a3c4_idx ON public.alunos_cidade USING btree (estado_id);


--
-- Name: alunos_cida_nome_f4fc7f_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_cida_nome_f4fc7f_idx ON public.alunos_cidade USING btree (nome);


--
-- Name: alunos_cidade_codigo_ibge_4e047a42_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_cidade_codigo_ibge_4e047a42_like ON public.alunos_cidade USING btree (codigo_ibge varchar_pattern_ops);


--
-- Name: alunos_cidade_estado_id_b43baa80; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_cidade_estado_id_b43baa80 ON public.alunos_cidade USING btree (estado_id);


--
-- Name: alunos_codigo_nome_3285b2e0_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_codigo_nome_3285b2e0_like ON public.alunos_codigo USING btree (nome varchar_pattern_ops);


--
-- Name: alunos_codigo_tipo_codigo_id_d377aa2f; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_codigo_tipo_codigo_id_d377aa2f ON public.alunos_codigo USING btree (tipo_codigo_id);


--
-- Name: alunos_esta_codigo_c7eaf3_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_esta_codigo_c7eaf3_idx ON public.alunos_estado USING btree (codigo);


--
-- Name: alunos_esta_nome_2eed62_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_esta_nome_2eed62_idx ON public.alunos_estado USING btree (nome);


--
-- Name: alunos_esta_regiao_ad46fa_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_esta_regiao_ad46fa_idx ON public.alunos_estado USING btree (regiao);


--
-- Name: alunos_estado_codigo_e5455407_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_estado_codigo_e5455407_like ON public.alunos_estado USING btree (codigo varchar_pattern_ops);


--
-- Name: alunos_estado_nome_11052c0c_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_estado_nome_11052c0c_like ON public.alunos_estado USING btree (nome varchar_pattern_ops);


--
-- Name: alunos_pais_ativo_1bfd69_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_pais_ativo_1bfd69_idx ON public.alunos_pais USING btree (ativo);


--
-- Name: alunos_pais_codigo_49b5f408_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_pais_codigo_49b5f408_like ON public.alunos_pais USING btree (codigo varchar_pattern_ops);


--
-- Name: alunos_pais_naciona_95a98f_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_pais_naciona_95a98f_idx ON public.alunos_pais USING btree (nacionalidade);


--
-- Name: alunos_pais_nome_01ea0798_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_pais_nome_01ea0798_like ON public.alunos_pais USING btree (nome varchar_pattern_ops);


--
-- Name: alunos_pais_nome_adb5e1_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_pais_nome_adb5e1_idx ON public.alunos_pais USING btree (nome);


--
-- Name: alunos_registrohistorico_aluno_id_111c8c2b; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_registrohistorico_aluno_id_111c8c2b ON public.alunos_registrohistorico USING btree (aluno_id);


--
-- Name: alunos_registrohistorico_codigo_id_1204971b; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_registrohistorico_codigo_id_1204971b ON public.alunos_registrohistorico USING btree (codigo_id);


--
-- Name: alunos_tipocodigo_nome_848d70dd_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX alunos_tipocodigo_nome_848d70dd_like ON public.alunos_tipocodigo USING btree (nome varchar_pattern_ops);


--
-- Name: atividades_atividade_curso_id_fed00226; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX atividades_atividade_curso_id_fed00226 ON public.atividades_atividade USING btree (curso_id);


--
-- Name: atividades_atividade_turmas_atividade_id_194816b5; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX atividades_atividade_turmas_atividade_id_194816b5 ON public.atividades_atividade_turmas USING btree (atividade_id);


--
-- Name: atividades_atividade_turmas_turma_id_400ab1ad; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX atividades_atividade_turmas_turma_id_400ab1ad ON public.atividades_atividade_turmas USING btree (turma_id);


--
-- Name: atividades_presenca_aluno_id_779e559b; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX atividades_presenca_aluno_id_779e559b ON public.atividades_presenca USING btree (aluno_id);


--
-- Name: atividades_presenca_atividade_id_c6cd73fe; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX atividades_presenca_atividade_id_c6cd73fe ON public.atividades_presenca USING btree (atividade_id);


--
-- Name: atividades_presenca_turma_id_d1c8294e; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX atividades_presenca_turma_id_d1c8294e ON public.atividades_presenca USING btree (turma_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: frequencias_carencia_aluno_id_89b20ca1; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX frequencias_carencia_aluno_id_89b20ca1 ON public.frequencias_carencia USING btree (aluno_id);


--
-- Name: frequencias_carencia_frequencia_mensal_id_31a4065d; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX frequencias_carencia_frequencia_mensal_id_31a4065d ON public.frequencias_carencia USING btree (frequencia_mensal_id);


--
-- Name: frequencias_frequenciamensal_turma_id_9b769ef9; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX frequencias_frequenciamensal_turma_id_9b769ef9 ON public.frequencias_frequenciamensal USING btree (turma_id);


--
-- Name: matriculas_matricula_aluno_id_d591b5d8; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX matriculas_matricula_aluno_id_d591b5d8 ON public.matriculas_matricula USING btree (aluno_id);


--
-- Name: matriculas_matricula_turma_id_4e666be3; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX matriculas_matricula_turma_id_4e666be3 ON public.matriculas_matricula USING btree (turma_id);


--
-- Name: notas_nota_aluno_id_95f9f8ce; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX notas_nota_aluno_id_95f9f8ce ON public.notas_nota USING btree (aluno_id);


--
-- Name: notas_nota_curso_id_18080170; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX notas_nota_curso_id_18080170 ON public.notas_nota USING btree (curso_id);


--
-- Name: notas_nota_turma_id_8863081f; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX notas_nota_turma_id_8863081f ON public.notas_nota USING btree (turma_id);


--
-- Name: pagamentos_pagamento_aluno_id_6461bd1d; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX pagamentos_pagamento_aluno_id_6461bd1d ON public.pagamentos_pagamento USING btree (aluno_id);


--
-- Name: presencas_registropresenca_aluno_id_3395f238; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX presencas_registropresenca_aluno_id_3395f238 ON public.presencas_registropresenca USING btree (aluno_id);


--
-- Name: presencas_registropresenca_atividade_id_ea4fa903; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX presencas_registropresenca_atividade_id_ea4fa903 ON public.presencas_registropresenca USING btree (atividade_id);


--
-- Name: presencas_registropresenca_turma_id_4b1e6e57; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX presencas_registropresenca_turma_id_4b1e6e57 ON public.presencas_registropresenca USING btree (turma_id);


--
-- Name: rh_aluno_dataos_desc; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX rh_aluno_dataos_desc ON public.alunos_registrohistorico USING btree (aluno_id, data_os DESC);


--
-- Name: rh_codigo_idx; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX rh_codigo_idx ON public.alunos_registrohistorico USING btree (codigo_id);


--
-- Name: turmas_turma_auxiliar_instrucao_id_0ab25891; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX turmas_turma_auxiliar_instrucao_id_0ab25891 ON public.turmas_turma USING btree (auxiliar_instrucao_id);


--
-- Name: turmas_turma_curso_id_ae3a0a9f; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX turmas_turma_curso_id_ae3a0a9f ON public.turmas_turma USING btree (curso_id);


--
-- Name: turmas_turma_instrutor_auxiliar_id_884aac3f; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX turmas_turma_instrutor_auxiliar_id_884aac3f ON public.turmas_turma USING btree (instrutor_auxiliar_id);


--
-- Name: turmas_turma_instrutor_id_39528401; Type: INDEX; Schema: public; Owner: omaum_user
--

CREATE INDEX turmas_turma_instrutor_id_39528401 ON public.turmas_turma USING btree (instrutor_id);


--
-- Name: alunos_aluno alunos_aluno_bairro_ref_id_9eb4b945_fk_alunos_bairro_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_aluno
    ADD CONSTRAINT alunos_aluno_bairro_ref_id_9eb4b945_fk_alunos_bairro_id FOREIGN KEY (bairro_ref_id) REFERENCES public.alunos_bairro(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alunos_aluno alunos_aluno_cidade_naturalidade__a3864e62_fk_alunos_ci; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_aluno
    ADD CONSTRAINT alunos_aluno_cidade_naturalidade__a3864e62_fk_alunos_ci FOREIGN KEY (cidade_naturalidade_id) REFERENCES public.alunos_cidade(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alunos_aluno alunos_aluno_cidade_ref_id_6780cde7_fk_alunos_cidade_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_aluno
    ADD CONSTRAINT alunos_aluno_cidade_ref_id_6780cde7_fk_alunos_cidade_id FOREIGN KEY (cidade_ref_id) REFERENCES public.alunos_cidade(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alunos_aluno alunos_aluno_pais_nacionalidade_id_b0f82e53_fk_alunos_pais_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_aluno
    ADD CONSTRAINT alunos_aluno_pais_nacionalidade_id_b0f82e53_fk_alunos_pais_id FOREIGN KEY (pais_nacionalidade_id) REFERENCES public.alunos_pais(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alunos_bairro alunos_bairro_cidade_id_dc6740d9_fk_alunos_cidade_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_bairro
    ADD CONSTRAINT alunos_bairro_cidade_id_dc6740d9_fk_alunos_cidade_id FOREIGN KEY (cidade_id) REFERENCES public.alunos_cidade(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alunos_cidade alunos_cidade_estado_id_b43baa80_fk_alunos_estado_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_cidade
    ADD CONSTRAINT alunos_cidade_estado_id_b43baa80_fk_alunos_estado_id FOREIGN KEY (estado_id) REFERENCES public.alunos_estado(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alunos_codigo alunos_codigo_tipo_codigo_id_d377aa2f_fk_alunos_tipocodigo_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_codigo
    ADD CONSTRAINT alunos_codigo_tipo_codigo_id_d377aa2f_fk_alunos_tipocodigo_id FOREIGN KEY (tipo_codigo_id) REFERENCES public.alunos_tipocodigo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alunos_registrohistorico alunos_registrohistorico_aluno_id_111c8c2b_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_registrohistorico
    ADD CONSTRAINT alunos_registrohistorico_aluno_id_111c8c2b_fk_alunos_aluno_id FOREIGN KEY (aluno_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: alunos_registrohistorico alunos_registrohistorico_codigo_id_1204971b_fk_alunos_codigo_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.alunos_registrohistorico
    ADD CONSTRAINT alunos_registrohistorico_codigo_id_1204971b_fk_alunos_codigo_id FOREIGN KEY (codigo_id) REFERENCES public.alunos_codigo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: atividades_atividade_turmas atividades_atividade_atividade_id_194816b5_fk_atividade; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_atividade_turmas
    ADD CONSTRAINT atividades_atividade_atividade_id_194816b5_fk_atividade FOREIGN KEY (atividade_id) REFERENCES public.atividades_atividade(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: atividades_atividade atividades_atividade_curso_id_fed00226_fk_cursos_curso_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_atividade
    ADD CONSTRAINT atividades_atividade_curso_id_fed00226_fk_cursos_curso_id FOREIGN KEY (curso_id) REFERENCES public.cursos_curso(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: atividades_atividade_turmas atividades_atividade_turma_id_400ab1ad_fk_turmas_tu; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_atividade_turmas
    ADD CONSTRAINT atividades_atividade_turma_id_400ab1ad_fk_turmas_tu FOREIGN KEY (turma_id) REFERENCES public.turmas_turma(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: atividades_presenca atividades_presenca_aluno_id_779e559b_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_presenca
    ADD CONSTRAINT atividades_presenca_aluno_id_779e559b_fk_alunos_aluno_id FOREIGN KEY (aluno_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: atividades_presenca atividades_presenca_atividade_id_c6cd73fe_fk_atividade; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_presenca
    ADD CONSTRAINT atividades_presenca_atividade_id_c6cd73fe_fk_atividade FOREIGN KEY (atividade_id) REFERENCES public.atividades_atividade(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: atividades_presenca atividades_presenca_turma_id_d1c8294e_fk_turmas_turma_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.atividades_presenca
    ADD CONSTRAINT atividades_presenca_turma_id_d1c8294e_fk_turmas_turma_id FOREIGN KEY (turma_id) REFERENCES public.turmas_turma(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: frequencias_carencia frequencias_carencia_aluno_id_89b20ca1_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.frequencias_carencia
    ADD CONSTRAINT frequencias_carencia_aluno_id_89b20ca1_fk_alunos_aluno_id FOREIGN KEY (aluno_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: frequencias_carencia frequencias_carencia_frequencia_mensal_id_31a4065d_fk_frequenci; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.frequencias_carencia
    ADD CONSTRAINT frequencias_carencia_frequencia_mensal_id_31a4065d_fk_frequenci FOREIGN KEY (frequencia_mensal_id) REFERENCES public.frequencias_frequenciamensal(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: frequencias_frequenciamensal frequencias_frequenc_turma_id_9b769ef9_fk_turmas_tu; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.frequencias_frequenciamensal
    ADD CONSTRAINT frequencias_frequenc_turma_id_9b769ef9_fk_turmas_tu FOREIGN KEY (turma_id) REFERENCES public.turmas_turma(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: matriculas_matricula matriculas_matricula_aluno_id_d591b5d8_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.matriculas_matricula
    ADD CONSTRAINT matriculas_matricula_aluno_id_d591b5d8_fk_alunos_aluno_id FOREIGN KEY (aluno_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: matriculas_matricula matriculas_matricula_turma_id_4e666be3_fk_turmas_turma_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.matriculas_matricula
    ADD CONSTRAINT matriculas_matricula_turma_id_4e666be3_fk_turmas_turma_id FOREIGN KEY (turma_id) REFERENCES public.turmas_turma(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notas_nota notas_nota_aluno_id_95f9f8ce_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.notas_nota
    ADD CONSTRAINT notas_nota_aluno_id_95f9f8ce_fk_alunos_aluno_id FOREIGN KEY (aluno_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notas_nota notas_nota_curso_id_18080170_fk_cursos_curso_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.notas_nota
    ADD CONSTRAINT notas_nota_curso_id_18080170_fk_cursos_curso_id FOREIGN KEY (curso_id) REFERENCES public.cursos_curso(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notas_nota notas_nota_turma_id_8863081f_fk_turmas_turma_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.notas_nota
    ADD CONSTRAINT notas_nota_turma_id_8863081f_fk_turmas_turma_id FOREIGN KEY (turma_id) REFERENCES public.turmas_turma(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: pagamentos_pagamento pagamentos_pagamento_aluno_id_6461bd1d_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.pagamentos_pagamento
    ADD CONSTRAINT pagamentos_pagamento_aluno_id_6461bd1d_fk_alunos_aluno_id FOREIGN KEY (aluno_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: presencas_registropresenca presencas_registropr_atividade_id_ea4fa903_fk_atividade; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.presencas_registropresenca
    ADD CONSTRAINT presencas_registropr_atividade_id_ea4fa903_fk_atividade FOREIGN KEY (atividade_id) REFERENCES public.atividades_atividade(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: presencas_registropresenca presencas_registropresenca_aluno_id_3395f238_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.presencas_registropresenca
    ADD CONSTRAINT presencas_registropresenca_aluno_id_3395f238_fk_alunos_aluno_id FOREIGN KEY (aluno_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: presencas_registropresenca presencas_registropresenca_turma_id_4b1e6e57_fk_turmas_turma_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.presencas_registropresenca
    ADD CONSTRAINT presencas_registropresenca_turma_id_4b1e6e57_fk_turmas_turma_id FOREIGN KEY (turma_id) REFERENCES public.turmas_turma(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: turmas_turma turmas_turma_auxiliar_instrucao_id_0ab25891_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.turmas_turma
    ADD CONSTRAINT turmas_turma_auxiliar_instrucao_id_0ab25891_fk_alunos_aluno_id FOREIGN KEY (auxiliar_instrucao_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: turmas_turma turmas_turma_curso_id_ae3a0a9f_fk_cursos_curso_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.turmas_turma
    ADD CONSTRAINT turmas_turma_curso_id_ae3a0a9f_fk_cursos_curso_id FOREIGN KEY (curso_id) REFERENCES public.cursos_curso(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: turmas_turma turmas_turma_instrutor_auxiliar_id_884aac3f_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.turmas_turma
    ADD CONSTRAINT turmas_turma_instrutor_auxiliar_id_884aac3f_fk_alunos_aluno_id FOREIGN KEY (instrutor_auxiliar_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: turmas_turma turmas_turma_instrutor_id_39528401_fk_alunos_aluno_id; Type: FK CONSTRAINT; Schema: public; Owner: omaum_user
--

ALTER TABLE ONLY public.turmas_turma
    ADD CONSTRAINT turmas_turma_instrutor_id_39528401_fk_alunos_aluno_id FOREIGN KEY (instrutor_id) REFERENCES public.alunos_aluno(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: omaum_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict qX0QP1U6cylBZt2UnGfzdPOg7RJbiN6YLGtQsLuJdgoKwxsHEXZvv64DgIocQr4

