{% extends 'base.html' %}

{% block content %}
<h1>Editar Atividade Ritualística</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var todosAlunosCheckbox = document.getElementById('id_todos_alunos');
        var alunosField = document.getElementById('id_alunos');

        function toggleAlunosField() {
            alunosField.disabled = todosAlunosCheckbox.checked;
        }

        todosAlunosCheckbox.addEventListener('change', toggleAlunosField);
        toggleAlunosField();
    });
</script>
{% endblock %}