{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  <h1>{% if cargo.id %}Editar{% else %}Novo{% endif %} Cargo</h1>
  
  <form method="post">
    {% csrf_token %}
    {% include 'includes/form_errors.html' %}
    
    {% for field in form %}
      {% include 'includes/form_field.html' %}
    {% endfor %}
    
    <!-- Padronizar botões no formulário -->
    <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'cargos:listar_cargos' %}" class="btn btn-secondary">
            <i class="fas fa-times"></i> Cancelar
        </a>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-save"></i> {% if cargo.id %}Atualizar{% else %}Criar{% endif %} Cargo
        </button>
    </div>
  </form>
</div>
{% endblock %}
