{% extends 'base.html' %}

{% block title %}OMAUM - Home{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to OMAUM</h1>
        <p class="lead">Your platform for courses and learning.</p>
        <hr class="my-4">
        <p>Get started by exploring our system.</p>
        
        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-lg" href="{% url 'alunos:listar' %}" role="button">View Students</a>
        {% else %}
            <a class="btn btn-outline-secondary btn-lg" href="{% url 'core:entrar' %}" role="button">Login</a>
        {% endif %}
    </div>
</div>
{% endblock %}
