{% extends 'base.html' %}

{% block content %}
<h1>Detalhes da Iniciação</h1>
<dl>
    <dt>Aluno:</dt>
    <dd>{{ iniciacao.aluno.nome }}</dd>
    <dt>Curso:</dt>
    <dd>{{ iniciacao.nome_curso }}</dd>
    <dt>Data:</dt>
    <dd>{{ iniciacao.data_iniciacao }}</dd>
    <dt>Observações:</dt>
    <dd>{{ iniciacao.observacoes|default:"Nenhuma observação" }}</dd>
</dl>
<a href="{% url 'editar_iniciacao' iniciacao.id %}" class="btn btn-warning">Editar</a>
<a href="{% url 'listar_iniciacoes' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}