{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <div class="accordion" id="accordionEditarPresencaAlunos">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEditarAlunos">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEditarAlunos" aria-expanded="true" aria-controls="collapseEditarAlunos">
                    Editar Alunos
                </button>
            </h2>
            <div id="collapseEditarAlunos" class="accordion-collapse collapse show" aria-labelledby="headingEditarAlunos" data-bs-parent="#accordionEditarPresencaAlunos">
                <div class="accordion-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Finalizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}